                                                /* DEBUT Styles DiscoverMoviesAndSeries Component */
                                                /* DEBUT Styles latestSeriesMovies */
.latestSeriesMovies {
    width: 100%;
    height: calc(100vh - 118px);
    margin-top: 118px;
}
                                                /* DEBUT Styles discoverLink */ 
.discoverLink {
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: darken;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    padding: 20px;
    color: var(--light-color);
    height: calc(100vh - 118px);
}
.DiscoTitle {
    margin-left: 1rem;
}
img {
    width: 100px;
    object-fit: cover;
}
.discoverLink div h1 {
    font-size: var(--md);
    font-weight: var(--medium);
    transition: 0.5s;
    margin-bottom: 5px;
}
                                                /* FIN Styles discoverLink */ 
                                                /* DEBUT Styles DiscoverMoviesAndSeries Component reponsive */
@media all and (min-width: 569px) {
    img {
        width: 150px;
    }
}
@media all and (min-width: 813px) {
    .latestSeriesMovies {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .movieSeries {
        display: grid;
        grid-template-rows: 66.5% 33.5%;
    }
    .movieSeriesBottom {
        display: grid;
        grid-template-rows: 33.5% 66.5%;
    }
    /* DEBUT Styles miniatureContainer */
    .miniatureContainer {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    /* FIN Styles miniatureContainer */
    .discoverLink {
        height: auto;
    }
    .miniatureContainer .discoverLink img {
        display: none;
    }
}
@media all and (min-width: 1023px) {
    .latestSeriesMovies {
        height: calc(100vh - 118px);
        margin-top: 118px;
    }
}
@media all and (min-width: 1050px) {
    .latestSeriesMovies {
        height: calc(100vh - 148px);
        margin-top: 0;
    }
    .discoverLink:hover div h1 {
        text-shadow: 1px 1px 3px rgba(255,255,255,0.3);
        transform: scale(1.1);
    }
}
                                                /* FIN Styles DiscoverMoviesAndSeries Component reponsive */
                                                /* FIN Styles DiscoverMoviesAndSeries Component */