/** this StyleSheet is use for style more than one component :
/**                                                         - FavoriteItem component
/**                                                         - MovieItem component
/**                                                         - SeriesItem component */

                            /*! DEBUT Styles for FavoriteItem / MovieItem / SeriesItem component */
                                                /* DEBUT Styles movieHeader */
.movieHeader {
    display: grid;
    grid-template-columns: minmax(150px, 570px);
    padding: 48px 0 10px 0;
    justify-content: center;
    grid-gap: 20px;
    background-color: rgba(35,40,51, 0.9); 
    background-blend-mode: overlay;
    background-size: cover;
}
.poster {
    width: 100%;
    object-fit: cover;
}
                                                /* DEBUT Styles score */
.score {
    display: grid;
    grid-template-columns: 70px 90px;
    font-size: var(--md);
    font-weight: var(--medium);
    color: var(--light-color);
    align-content: center;
    align-items: center;
}
.sText {
    font-size: var(--s);
}
.scoreContnainer {
    width: 68px;
    height: 68px;
    display: inline-block;
}
.scoreOuterRing {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 4px;
    background-color: var(--dark-color);
}
.userScoreChart {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.percent {
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.percent p {
    position: relative;
    left: -3px;
}
.smaller {
    position: absolute;
    display: inline-block;
    font-size: var(--xs);
}
.scoreCanvas {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}
svg {
    transform: rotate(-90deg);
}
.outerCircle {
    stroke: rgba(8, 179, 107, 0.5);
}
.innerCircle {
    stroke: var(--secondary-color);
    stroke-linecap: round;
}
.scoreText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: -3px;
}
.scoreText span {
    position: absolute;
    top: 0;
    font-size: var(--xs);
}
                                                    /* FIN Styles score */
                                                    /* DEBUT Styles infos */
.infos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 150px));
    align-content: center;
    align-items: center;
    grid-gap: 5px;
}
.movieMainInfos {
    padding: 0 5px; 
}
.movieMainInfos h1 {
    font-size: var(--lg);
    font-weight: var(--medium);
    margin-bottom: 20px;
    color: var(--light-color);
}
.movieMainInfos h1 span {
    color: grey;
    font-size: var(--xs);
}
.likeIcon, .likeIcon_unliked {
    transition: var(--transition);
}
.likeIcon, .likeIcon_unliked {
    width: 37px;
    height: 37px;
    color: var(--ternary-color);
    font-size: var(--md);
    padding: 5px;
    border: 1px solid var(--light-color);
    background-color: var(--light-color);
    box-sizing: border-box;
    border-radius: 50%;
    justify-self: center;
    cursor: pointer;
}
.likeIcon_unliked {
    color: var(--light-color);
    background-color: transparent;
    border: 1px solid var(--light-color);
}
.watchTrailer {
    width: 150px;
    display: grid;
    grid-template-columns: auto auto;
    color: var(--light-color);
    transition: var(--transition);
}
h2 {
    color: var(--light-color);
    font-size: var(--md);
    font-weight: var(--medium);
    margin: 10px 0;
}
.overview p {
    color: var(--light-color);
    line-height: 1.1em;
    margin: 10px 0;
}
.crewList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 125px));
    color: var(--light-color);
    grid-gap: 20px;
}
.crewList li {
    line-height: 1.2em;
}
.crewList li h3 {
    font-weight: var(--medium);
    margin: 20px 0 10px 0;
    letter-spacing: 1px;
    color: var(--light-color);
}
.crewList li p {
    font-size: var(--s);
    color: var(--light-color);
}
                                                        /* FIN Styles infos */
                                                        /* FIN Styles movieHeader */
                                                        /* DEBUT Styles mainContentAndAside */
.mainContentAndAside {
    display: grid;
    grid-template-columns: auto;
    gap: 6rem;
}
                                                        /* DEBUT Styles mainContent */
.mainContent {
    display: grid;
    justify-content: center;
    align-content: start;
    align-items: start;
}
                                                        /* DEBUT Styles castListContainer */
.castListContainer {

    display: grid;
    grid-template-rows: auto auto;
    justify-content: start;
}
.castListContainer h2 {
    margin: 20px 65px;
    justify-self: start;
}
.castList {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, 175px);
    grid-gap: 10px;
    justify-content: center;
}
.castList li {
    background-color: var(--light-color);
    text-align: center;
    box-sizing: border-box;
    transition: var(--transition);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 3px rgba(0,0,0, 0.3);
}
.castList h3, .castList p {
    padding: 5px;
    color: var(--dark-color);
}
.castList h3 {
    font-weight: var(--medium);
}
.castList li img {
    object-fit: cover;
    width: 100%;
    height: 175px;
}
                                                        /* FIN Styles castListContainer */
                                                        /* DEBUT Styles collection */
.collection {
    margin: 20px 0;
    background-color: rgba(35,40,51, 0.9); 
    background-blend-mode: overlay;
    background-size: cover;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 300px;
    border-radius: 0;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center;
}
.collection h2 {
    font-size: var(--lg);
    font-weight: var(--medium);
    word-wrap: break-word;
}
.collection a {
    color: var(--dark-color);
    font-size: var(--s);
    margin: 10px;
    padding: 15px 20px;
    background-color: var(--secondary-color);
    border-radius: 25px;
    transition: var(--transition);
}
                                                        /* FIN Styles collection */
                                                        /* DEBUT Styles recommendation */
.recommendation {
    width: 100vw;
}
.recomContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
    max-width: 760px;
    height: 203px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 20px;
}
.recomItemContainer {
    min-width: 250px;
    max-height: 203px;
    position: relative;
    background-color: var(--light-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.recomItemContainer a {
    color: var(--dark-color);
}
.recomImg {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    object-fit: cover;
}
.extraHoverInfos {
    width: 100%;
    height: 35px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-content: center;
    position: absolute;
    bottom: 60px;
    left: 0;
    box-sizing: border-box;
    color: var(--nav-dark-color);
    background-color: rgba(250,250,250,0.5);
    overflow: hidden;
    opacity: 1;
}
.extraHoverInfos p, .titleAndRate p {
    display: block;
    padding: 0 5px;
}
.extraHoverInfos p button {
    background-color: transparent;
    border: none;
    font-size: 1em;
    margin-right: 5px;
    cursor: pointer;
}
.recommendationlikeIcon i, .recommendationlikeIcon_unliked i {
    color: var(--dark-color);
}
.recommendationlikeIcon i {
    color: var(--ternary-color);
}
.titleAndRate {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-content: center;
    height: 50px;
}
                                                        /* FIN Styles recommendation */
                            /*! DEBUT Styles for ONLY SeriesItem component */
                                                        /* DEBUT Styles seasonCard */
.actualSeason {
    max-width: 750px;
}
.seasonCard {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 1rem;
    background-color: var(--light-color);
    box-shadow: 1px 1px 3px var(--nav-dark-color);
    overflow: hidden;
    transition: 0.5s;
    align-content: center;
    align-items: center;
    color: var(--dark-color);
    margin: 20px 0;
}
.seasonCard img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 200px;
}
.seasonCard .seasonContent {
    padding: 10px;
}
.seasonCard h3 {
    font-size: var(--md);
    font-weight: var(--medium);
    margin-bottom: 5px;
}
.dateAndEpisode {
    display: flex;
    padding: 5px 0;
    font-weight: var(--medium);
    margin-bottom: 5px;
}
.separator {
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px solid var(--dark-color);
}
.seasonOverview {
    margin-right: 1rem;
}
.seasonsLink {
    display: grid;
    font-size: var(--md);
    font-weight: var(--medium);
    color: var(--light-color);
    justify-content: end;
    transition: 0.5s;
    margin-right: 10px;
}
                                                        /* FIN Styles seasonCard */
                                                        /* DEBUT Styles lastNextEpisode */
.lastNextEpisodeContainer {
    max-width: 750px;
    margin: 20px 0;
}
.lastNextEpisodeItem {
    background-color: var(--light-color);
    box-shadow: 1px 1px 3px var(--nav-dark-color);
    grid-gap: 1rem;
    overflow: hidden;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
}
.lastNextEpisodeItem img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: 5% 0;
}
.lastNextEpisodeContent {
    padding: 5px;
}
.lastNextEpisodeContent  h3 {
    margin: 5px 0;
    font-size: var(--md);
    font-weight: var(--medium);
}
.lastNextEpisodeContent p {
    margin: 5px 0;
}
.lastNextEpisodeContent p span {
    font-weight: var(--medium);
    font-style: italic;
}
                                                        /* FIN Styles lastNextEpisode */
                            /*! FIN Styles for ONLY SeriesItem component */
                                                        /* FIN Styles mainContent */
                                                        /* DEBUT Styles aside */
.aside {
    max-width: 100%;
    color: var(--dark-color);
    background-color: var(--light-color);
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
}
.asideContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, auto);
    grid-gap: 5px;
}
.asideContent > div {
    background-color: var(--light-color);
    border-radius: 5px;
    padding: 5px;
}
.aside h2 {
    color: var(--dark-color);
    margin: 10px 0;
}
.asideTitle {
    color: var(--dark-color) !important;
}
.aside .genres ul {
    width: 280px;
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
}
.aside .genres ul li {
    min-width: max-content;
    max-width: min-content;
    margin: 2.5px;
    justify-content: center;
    justify-items: center;
}
.aside .genres ul li a {
    display: grid;
    background-color: var(--badge-success);
    color: var(--light-color);
    justify-content: center;
    justify-items: center;
    transition: background-color var(--transition);
}
                            /*! DEBUT Styles for ONLY SeriesItem component */
.diffuseurSeries a {
    width: 150px;
}
.diffuseurSeries a img {
    max-width: 100%;
    object-fit: cover;
}
                            /*! FIN Styles for ONLY SeriesItem component */
                                                        /* FIN Styles aside */
                                                        /* FIN Styles mainContentAndAside */
                                                        /* DEBUT Styles responsive for the 3 component */
@media all and (min-width: 361px) {
    .castListContainer h2 {
        margin: 20px 0;
    }
}
@media all and (min-width: 376px) {
    .infos {
        grid-template-columns: repeat(auto-fit, minmax(50px, min-content));
    }
    .movieMainInfos h1 {
        font-size: var(--xl);
    }
    .castList {
        grid-gap: 20px;
    }
    .collection h2 {
        font-size: var(--xl);
    }
    .collection a {
        font-size: var(--md);
    }
    .asideContent {
        grid-template-columns: repeat(auto-fit, minmax(125px, 260px));
    }
}
@media all and (min-width: 567px) {
    .movieHeader {
        grid-template-columns: 200px minmax(300px, 600px);
    }
    .poster {
        margin-left: 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    }
    .movieMainInfos {
        padding: 0; 
    }
    .castList {
        grid-template-columns: repeat(auto-fit, 135px);
    }
    .asideContent {
        grid-template-columns: repeat(auto-fit, minmax(125px, 300px));
    }
    .seasonCard {
        grid-template-columns: 150px auto;
        border-radius: 5px;
    }
    .seasonCard .seasonContent {
        padding: 0;
    }
    .seasonsLink {
        margin-right: 0;
    }
    .lastNextEpisodeContainer {
        max-height: 250px;
    }
    .lastNextEpisodeContainer {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 1rem;
    }
    .lastNextEpisodeItem {
        display: grid;
        grid-template-columns: 40% auto;
        border-radius: 5px;
        height: 150px;
    }
}
@media all and (min-width: 741px) {
    .movieHeader {
        padding: 58px 0 10px 0;
    }
    .mainContent {
        justify-content: center;
    }
    .castList {
        max-width: 800px;
        grid-template-columns: repeat(auto-fit, 135px);
        justify-content: start;
    }
    .collection {
        min-width: 320px;
        max-width: 760px;
        border-radius: 5px;
    }
    .recommendation {
        width: auto;
    }
}
@media all and (min-width: 1050px) {
    .movieHeader {
        grid-template-columns: 300px minmax(600px, 750px);
        padding: 40px 0;
    }
    .mainContentAndAside {
        width: 1070px;
        grid-template-columns: 770px 300px;
        grid-gap: 10px;
        margin: 0 auto;
    }
    .mainContent {
        justify-content: start;
    }
    .castListContainer h2 {
        justify-self: stretch;
    }
    .recommendation {
        width: auto;
    }
    .recomContainer {
        overflow-x: hidden;
    }
    .recomContainer:hover {
        overflow-x: scroll;
    }
    .extraHoverInfos {
        bottom: 46px;
        opacity: 0;
        transition: opacity var(--transition);
    }
    .recomItemContainer:hover .extraHoverInfos {
        opacity: 1;
    }
    .aside {
        width: 300px;
        background-color: #dfdfdf;
        color: var(--dark-color);
        border-radius: 5px;
    }
    .aside h2 {
        color: var(--dark-color);
    }
    .asideContent > div {
        background-color: transparent;
        border-radius: 0;
        padding: 0;
    }
    .aside .genres ul li a {
        background-color: transparent;
        color: var(--dark-color);
    }
    .aside .genres ul li a:hover {
        background-color: var(--badge-success);
        color: var(--light-color);
        box-shadow: 1px 1px 2px var(--secondaryColor-lowOpacity);
    }
    .seasonsLink:hover {
        color: var(--secondary-color);
    }
    .seasonCard:hover  {
        transform: scale(1.05);
    }
    .collection a:hover {
        background-color: var(--dark-color);
        color: var(--secondary-color);
        box-shadow: 1px 1px 3px rgba(35,40,51, 0.9);
        transform: scale(1.1);
    }
    .castList li:hover {
        transform: scale(1.1);
        box-shadow: 4px 4px 8px rgba(0,0,0, 0.8);
    }
    .watchTrailer:hover {
        color: var(--secondary-color);
    }
    .likeIcon:hover, .likeIcon_unliked:hover {
        transform: scale(1.3);
    }
}
                                                        /* FIN Styles responsive for the 3 component */
                            /*! FIN Styles for FavoriteItem / MovieItem / SeriesItem component */